body {
  font-family: 'Lato', sans-serif;
  background-color: #fcfcfc;
}

.wrapper {
  margin: 0 auto;
  width: 94%;
  max-width: 1400px;
}

header {
  display: flex;
  flex-direction: column;
  margin: 1em 0;
}

h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 3.6vw;
  line-height: 1.5;
  color: #4a4a4a;
  letter-spacing: 1px;
  text-align: center;
}

#mySearch {
  margin: .4em 1em;
  padding: .4em;
  border: solid 1px #dfdfdf;
  border-radius: 6px;
  max-width: 400px;
}

#employees {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.card {
  border: solid 1px #dfdfdf;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 1.1em;
}

.card > * {
  pointer-events: none;
}

.card img {
  width: 27%;
  border-radius: 50%;
  margin-right: 8%;
}

.card-text {
  padding-right: 1em;
  font-size: .9em;
}

.card-text span {
  display: block;
  color: #666666;
  line-height: 1.5;
}

.email {
  font-size: .9em;
}

.city {
  text-transform: capitalize;
}

h2 {
  font-size: 1.1em;
  margin: 5px 0;
  text-transform: capitalize;
}

/* Modal section */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(138, 138, 138, 0.541);
  border-radius: 5px;
  width: 80%;
  max-width: 320px;
  text-align: center;
}

.modal-content img {
  align-self: center;
  width: 150px;
  padding: 1em;
  border-radius: 50%;
}

.arrows {
  display: flex;
  justify-content: space-between;
  color: #aaaaaa;
  height: 0;
  z-index: 100;
}

.modal-text {
  padding-bottom: 1em;
}

.modal-contact {
  padding-top: 1em;
  border-top: 1px solid rgb(218, 218, 218); 
}

.modal-text p,
.modal-contact p {
  margin: .6em;
  color: #666666;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.prev:focus,
.prev:hover,
.next:focus,
.next:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .card img {
    width: 30%;
  }
  .card-text {
    font-size: 1em;
  }
  .modal {
    padding-top: 15vh;
  }
}

@media screen and (min-width: 400px) {
  .card {
    padding: 1.4em;
  }
}

@media screen and (min-width: 450px) {
  h1 {
    text-align: left;
    font-size: 1.1em;
  }
  #mySearch {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #employees {
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
  }
  h1 {
    letter-spacing: 2px;
    margin: .4em;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: .4em;
  }
  #mySearch {
    width: 35%;
    padding: .4em 1em;
  }
}

@media screen and (min-width: 1100px) {
  #employees {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .8em;
  }
}

@media screen and (min-width: 1300px) {
  #employees {
    grid-gap: 1.3em;
  }
}